<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<title>Freecycle ⦙ Reduce Waste, Enjoy More!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> <!--from: https://getbootstrap.com/docs/5.2/getting-started/introduction/-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> <!--from: https://www.w3schools.com/bootstrap/-->
   	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body> <!--Creating the navbar and jumbotron at the top of the page-->
	<nav class="navbar bg-primary text-white" style="border-radius:0px;">
		<a class="navbar-brand" href="#">
		<p class="text-light"> Freecycle</p>
		</a>
	  	</nav>
	  	<div style="background:transparent !important" class="jumbotron text-center">
		<h1><object data="favicon.svg" width="45" height="45"> </object>Freecycle</h1> 
		<p>Reduce Waste, Enjoy More!</p> 
	  	</div>
 

	<div id="app">

		<h2><b>Post a Listing:</b></h2> <!-- User Input Layout and Heading -->
		<div class="container">
		<form @submit.prevent="create_item" data-field="user_id" class="form-inline">
			<div class="form-group mx-sm-3 mb-2">
			<b>Username:</b>
			<input name="user_id" v-model="item.user_id" placeholder="Username">
			</div>
			<div class="form-group mx-sm-3 mb-2">
			<b> Latitude: </b> 
			<input name="lat" v-model="item.lat" placeholder="0">
			</div>
			<div class="form-group mx-sm-3 mb-2">
			<b> Longitude: </b> 
			<input name="lon" v-model="item.lon" placeholder="0">
			</div>
			<div class="form-group mx-sm-3 mb-2">
			<b> Image: </b>
			<input name="image" v-model="item.image" placeholder="http://placekitten.com/100/100">
			</div>
			<div class="form-group mx-sm-3 mb-2">
			<b> Keywords: </b> 
			<input name="keywords" v-model="item.keywords" >
			</div>
			<div class="form-group mx-sm-3 mb-2">
			<b> Description: </b> 
			<textarea name="description" v-model="item.description" rows="1" cols="20" placeholder="Item Description"></textarea>
			</div>
			<button data-action="create_item" class="btn btn-info">Submit</button>
		</form>
		</div>

		<h2><b>Items Available:</b></h2>

		<div>

		<ul>
			<li v-for="item in Items"> <!--Available items Layout adn Heading-->
				<div class="col-sm-3 col-xs-10">
					<div class="panel panel-default text-center">
					  <div class="panel-heading">
						<h1><span>{{item.description}}</span></h1>
					  </div>
					  <div class="panel-body">
						<p> <img  :src ="item.image" style="object-fit:contain;	width:200px; height:200px;"/> </p>
						<p><strong>Latitude: </strong><span>{{item.lat}}</span></p>
						<p><strong>Longitude: </strong><span>{{item.lon}}</span></p>
						<p><strong>Keywords: </strong> <span>{{item.keywords}}</span></p>
						<p><strong>Listed By: </strong> <span>{{item.user_id}}</span></p>
						<p><strong>Item ID: </strong> <span data-field="id">{{item.id}}</span></p>
					  </div>
					  <div class="panel-footer">
						<button data-action="delete" @click="deleteItem(item.id)" class="btn btn-danger" >Delete</button>
					  </div>
					</div>      
				  </div>
			</li>
		</ul>
	</div>
	
	</div>

<script type="module">
	const { createApp } = Vue
	const DEFAULT_API = '/api/v1';
	const urlParams = new URLSearchParams(window.location.search);
	const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\$/, '');

	 //https://github.com/calaldees/frameworks_and_languages_module/blob/main/docs/assignment_hints.md

	const RootComponent = {
	  data() {
		return {
			item: {
				id:'',
				user_id: '',
				lat: '',
				lon: '',
				image: '',
				keywords: '',
				date_from:'',
				description: '',
			},
			Items: [], // Items array
		}
	  },
	  created() {
		this.clearInput()
		this.updateItems()
	  },

	  methods: {
		updateItems() { // Get items from server
			fetch(`${urlAPI}/Items/`, {
				method: 'GET',
			})
				.then(response => response.json())
				.then(data => this.Items = data)
			.catch(err => console.error(err));
		},
		clearInput() { // Clear input Boxes
			this.item = { ...this.item, ...{ // Setting all values back to the defaults
				user_id: undefined,
				lat: undefined,
				lon: undefined,
				image: "http://placekitten.com/100/100",
				keywords: undefined,
				description: undefined,
			}}
		},
		create_item() { // Post item
			fetch(`${urlAPI}/item`, {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(this.item),
			})

				.then(response => response.json())
				.then(json=>console.log('create_item()',json))
				.then(()=>this.clearInput())
				.then(()=>this.updateItems())
				.catch(err => console.error(err));
		},
		deleteItem(id) { // Delete item from server
			fetch(`${urlAPI}/item/${id}`, {
				method: 'DELETE',
			})
			.then(json=>console.log('deleteItem()',json))
			.then(()=>this.updateItems())
			.catch(err => console.error(err));
		}
	  },
	}
	const app = Vue.createApp(RootComponent)
	const vm = app.mount('#app')
</script>

</body>
</html>